.container{
  width: 600px;
  height: 300px;
  background-color: yellow;
  display: grid;
  /* grid-template-rows: 50px 50px 50px;
  grid-template-columns: 200px 200px 200px; */
  grid-template-rows: repeat(5, 1fr); 
  /* (can be writen as: grid-template-rows: 1fr 1fr 1fr 1fr 1fr;) */ 
  grid-template-columns: repeat(3, 1fr);
  /* row-gap: 10px;
  column-gap: 10px; */
  grid-gap: 10px;
}
.item{
  width: 100px;
  height: 50px;
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
}